* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-padding: 24px;
  --list-gap: 20px;
}

body {
  font-family: 'Comissioner', sans-serif;
}

body.modal-open {
  position: fixed;
  top:  0;
  bottom: 0;
  left: 0;
  right: 0;
}

main {
  padding: var(--main-padding);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}

a:visited {
  color: inherit;
}

li {
  list-style: none;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.input__errorText {
  font-size: 12px;
  line-height: 14px;
  color: #ec4e4e;
}

@media (max-width: 680px) {
  :root {
    --main-padding: 15px;
  }
}