@font-face {
  font-family: 'Comissioner';
  src: url('./assets/fonts/Commissioner/Commissioner-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Comissioner';
  src: url('./assets/fonts/Commissioner/Commissioner-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Comissioner';
  src: url('./assets/fonts/Commissioner/Commissioner-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Comissioner';
  src: url('./assets/fonts/Commissioner/Commissioner-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}