.backBtn {
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 24px;
}

.backBtn__button {
  border: none;
  font-size: 20px;
  line-height: 22px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}